{% extends "../../base.twig" %}
{% block styles %}
    {{ parent() }}
    <link type="text/css" rel="stylesheet" href="./style.css">
{% endblock %}
{% block title %}
    <title> home title </title>
{% endblock %}
{% block content %}
    <h1 class="text-primary">
        home page
    </h1>
{% endblock %}
    