{% extends "../../base.twig" %}
{% block styles %}
    {{ parent() }}
    <link rel="stylesheet" href="./style.css">
    {% endblock %}
    {% block title %}
        about title
         
            
    {% endblock %}
    {% block content %}
        <h1>
            about page 
                        
                    
        </h1>
    {% endblock %}
    